* {
    font-family: sans-serif;
    user-select: none;
}

html,
body {
    margin: 0px;
    height: 100%;
}

.sidebar {
    grid-area: sidebar;
    overflow-y: scroll;
    position: absolute;
    top: 35px;

    width: 60px;
    height: calc(100% - 65px);
    border: 1px solid black;
    border-left: none;
}

#stampOptions,#mirrorOptions{
    display: none;
}
#content {
    grid-area: content;
    border: 10px inset grey;
    width: calc(100vw - 190px);
}

.header {
    grid-area: header;
    padding: 4px 10px;
    width: 100vw;
    box-sizing: border-box;
}

.footer {
    grid-area: footer;
}

.sideBarItem {
    max-height: 30px;
    max-width: 30px;
    padding: 10px;

}

.sideBarItem img {
    max-height: 30px;
    max-Width: 30px;
}

.colourPalette {
    grid-area: colourP;
    display: flex;
    flex-direction: grid;
    flex-flow: nowrap;
    z-index: 1;
    width: 100vw;
    height: 31px;
    border-top: 1px solid black;
}

.options {
    z-index: 1;
    height: 31px;
    width: 100%;
    padding: 0;
    margin: 0;
}

#directionButton{
    margin: auto;
    width: 100%;
}

.colourSwatches {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    max-height: 30px;
    max-width: 30px;
    margin: 0px;
}

.wrapper {
    display: grid;
    height: 100%;
    grid-template-columns: 60px auto;
    grid-template-rows: 35px minmax(500px, 1fr) 30px;
    grid-template-areas: "header header header" "sidebar content content" "colourP colourP options";
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    font-size: 140%;
    box-sizing: border-box;
}

button {
    float: right;
    margin: 4px;
    height: 18px;
    border: 1px solid black;
    border-radius: 4px;
    font-variant-caps: all-small-caps;
    font-weight: bold;
}

button:not(:disabled):hover {
    border-color: white;
}

button:focus {
    outline: none;
}

#rightToolbar {
    border: 1px inset black;
    border-right:none;
    width: 110px;
    padding: 10px;

    position: relative;
    left: calc(100% - 110px);

    font-size: 80%;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}

select{
    width:100%;
    margin-bottom: 10px;
    border:1px solid black;
}

/*hide blue border*/
select:focus {
    outline: none;
}

.slider {
    margin: 0px;
    width: 100%;
    display: inline;
    -webkit-appearance: none;
    overflow: hidden;
    border-radius: 10px;
}

#colourPreview {
    height: 89px;
    width: 89px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 10px;
    z-index: 1;
    border: 5px solid white;
    box-sizing: border-box;
}


/*remove blue border*/
input[type=range]:focus {
    outline: none;
}

/*Background of silder*/
.slider::-webkit-slider-runnable-track {
    background: #222;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    background: white;

    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -100vw 0 0 calc(100vw - 4px) white;
    /*Foreground of silder*/
}

/*Colour sliders by type*/

#redSlider::-webkit-slider-thumb,
#stroke_redSlider::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 calc(100vw - 4px) #ff3b3b;
}

#greenSlider::-webkit-slider-thumb,
#stroke_greenSlider::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 calc(100vw - 4px) #00ff00;
}

#blueSlider::-webkit-slider-thumb,
#stroke_blueSlider::-webkit-slider-thumb {
    box-shadow: -100vw 0 0 calc(100vw - 4px) #00c9f8;
}

#rValue,
#gValue,
#bValue,
#stroke_rValue,
#stroke_gValue,
#stroke_bValue,
#strokeValue,
#brushSizeSliderValue,
#spraySizeSliderValue,
#spraySpreadSliderValue,
#stampSizeSliderValue{
    margin-right: 2px;
    width: auto;
    float: right;
    text-align: right
}

#title {
    display: inline;
    font-size: 1em;
}

h2 {
    font-size: 1.1em;
    text-transform: uppercase;
    text-align: center;
}

p {
    margin: 0;
}

input[type=checkbox] {
    margin: 10px 5px 0 0;
}

#strokeColourSliders {
    display: none;
}

#strokeCheckbox {
    margin-bottom: 10px;
}
